.company {
    padding-top: 77px;
    padding-bottom: 167px;
}

.company__common-info {
    margin-top: 75px;
}

.company__title {
    display: flex;
    justify-content: space-between;
}

.font-LemonTuesday {
    font-family: LemonTuesday, SansSerif;
    font-size: 60px;
    color: #32505a;
}

.company__text-title {
    font-size: 24px;
    color: #32505a;
}

.company__text {
    font-size: 14px;
    color: #4d4d4d;
    margin-top: 42px;
}

.company__sushi-img {
    margin-top: 80px;
}